.banner{
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
	margin-top: 0;
}

.banner img{
	height: 90px;
}

@media screen and (max-width: 720px){
	.banner img{
		width: 100%;
		height: auto;
	}
}